.table thead th {
    text-align: center;
    vertical-align: middle;
}
#back{
    background-image: url("blurry_bg_med.jpg") !important;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
*{
    color:rgb(64,64,64);
}
.boxShadow{
    -webkit-box-shadow: 4px 4px 17px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 17px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.75);
}
.boxBackground{
    background-color: rgba(160, 160, 160, 0.3) !important;
    border-radius: 10px;
    padding: 10px;
}
.boxLightBackground{
    background-color: rgba(217,217,217,0.3) !important;
    border-radius: 10px;
    padding: 10px;
}
/************ Login ************/
.card-login{
    background-color: rgba(160, 160, 160, 0.3) !important;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 12px -5px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 12px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
}
.card-header{
    background-color: transparent;
    border-bottom: none;
}
.user-icon{
    max-width: 200px;
    display: block;
    margin: auto;
}
#login-form label{
    font-size: 30px;
    font-weight: initial;

}
#login-form .form-control{
    border: none;
    background-color: rgb(209, 209, 209);
    height: 50px;
    border-radius: 10px;
}
/************ Header ************/
nav.navbar{
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    height: 70px;
    background-color: rgba(217,217,217,0.3) !important;

}
.navbar-toggler{
    border: none;
    outline: none !important;
}
nav .logo{
    max-height: 40px;
}
nav .title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav a.nav-item.nav-link{
    color:rgb(64,64,64) !important;
}
nav a.nav-item.nav-link:hover{
    color:rgb(120,120,120) !important;
}
nav button.btn.logout{
    background-color: transparent;
    font-size:20px;
}
.collapse.navbar-collapse.show{
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
@media (max-width: 991px){
    .collapse.navbar-collapse.show{
        height: 0px;
    }
    .collapse.navbar-collapse.show{
        height: auto;
        display: flex !important;
        z-index: 10000;
        background-color: rgb(217,217,217);
        padding: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: -16px;
        margin-right: -16px;
        -webkit-box-shadow: 4px 7px 17px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 7px 17px -5px rgba(0,0,0,0.75);
        box-shadow: 4px 7px 17px -5px rgba(0,0,0,0.75);
    }
}
@media (max-width: 768px){
    .hide-small{
        display: none !important;
    }
}
/************ Index Graphic ************/
#historicalChart{
    margin: 20px 0px;
}
#buttonGroup{
    border-radius: 3px;
    box-shadow: 0 0 0 0.3rem rgba(217, 217, 217, 0.6);
}
#mapContainer{
    min-height: 400px;
}
.transparent-alert{
    background-color: rgba(204,229,255,0.3);
    border: none;
}
/************ Index Tabular ************/
#tableTitle{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
    padding-top: 20px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}
.tableStyle{
    background-color: rgba(255,255,255,0.4) !important;
}
.tableStyle th{
    border-top: none !important;
}

/************ Responsive ************/
@media (max-width: 991px){
    .container {
        margin-top: 20px;
        max-width: calc( 100% - 30px);
    }
}
@media (max-width: 767px){
    #mapContainer{
        margin-bottom: 20px;
    }
}
#gaugeContainer{
    min-height: 258px;
}